<!-- templates/core/add_question_from_search.html -->
{% extends 'core/base.html' %}
{% load static %}
{% load instance_of %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-2">
            <h4>Tüm Sorular</h4>
            <ul class="list-unstyled">
                {% for question in all_questions %}
                <li class="d-flex justify-content-between align-items-center mt-2 baslik">
                    <a href="{% url 'question_detail' question.id %}" class="text-dark text-decoration-none">
                        {{ question.question_text }}
                    </a>
                    <small class="">{{ question.answers_count }}</small>
                </li>
                {% endfor %}
            </ul>
            {% include 'core/pagination.html' with page_obj=all_questions page_param='page' %}
        </div>
        <div class="col-md-10">
            <h2>"{{ query }}" başlığı oluştur</h2>
            <p>Bu başlık altında ilk yanıtı siz yazabilirsiniz:</p>
            <form method="post">
                {% csrf_token %}
                <div class="form-group mt-3">
                    {{ answer_form.answer_text.label_tag }}
                    <!-- Araç Çubuğu -->
                    <div class="btn-toolbar mb-2" role="toolbar">
                        <button type="button" class="btn btn-sm btn-outline-secondary format-btn me-2" data-format="bold">
                            <i class="bi bi-type-bold"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary format-btn me-2" data-format="italic">
                            <i class="bi bi-type-italic"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary insert-link-btn me-2">
                            <i class="bi bi-link-45deg"></i> Link Ekle
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary insert-reference-btn me-2">
                            (bkz:soru)
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary insert-ref-link-btn me-2">
                            <i class="bi bi-box-arrow-in-up-right"></i> hede
                        </button>
                    </div>
                    {{ answer_form.answer_text }}
                </div>
                <button type="submit" class="btn btn-primary">Yanıtı Gönder</button>
            </form>
        </div>

    </div>
</div>


<!-- Modals -->
{% include 'core/link_modal.html' %}
{% include 'core/reference_modal.html' %}

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/answer_form.js' %}"></script>
{% endblock %}

