{% extends 'core/base.html' %}

{% block content %}
<h2>{{ question.question_text }}</h2>
<p>Soran: {{ question.user.username }} | Tarih: {{ question.created_at }}</p>

<h3>Cevaplar</h3>
{% for answer in answers %}
    <p>{{ answer.answer_text }}</p>
    <p>Yanıtlayan: {{ answer.user.username }} | Tarih: {{ answer.created_at }}</p>
    <hr>
{% empty %}
    <p>Henüz cevap yok.</p>
{% endfor %}

<h3>Cevap Yaz</h3>
<form method="post" action="{% url 'add_answer' question.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Cevabı Gönder</button>
</form>
{% endblock %}
